<h2><%=t 'users.show.title', :user_name => @user.full_name%></h2>

<uL>
	<li><%=t "users.show.location", :location => @user.location%></li>
	<li><%=t "users.show.bio", :bio => @user.bio%></li>
</uL>

<%=link_to t('users.show.edit'), edit_user_path(@user) %>
<%= link_to 'Home', root_path %>